@charset "utf-8";

@font-face {
    font-family: 'NudistaLight';
    src: url('./assets/fonts/NudistaLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 !important;
    padding: 0;
    font-family: 'NudistaLight';
    -webkit-font-smoothing: subpixel-antialiased;
  }